*, *::before, *::after {
  box-sizing: border-box;
  margin:     0;
  padding:    0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--background-surface-low);
  color:            var(--foreground-primary-on-surface);
  font-family:      var(--font-family-ui);
  -webkit-font-smoothing:  antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, video {
  max-width: 100%;
  display:   block;
}

button {
  font-family: inherit;
}